.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  background: var(--clr-bg-light);
  color: var(--clr-txt-light );
  border-radius: 0.6em;
  overflow: hidden;
}
.card-img{
  background: red;
  min-height: 200px;
  position: relative;
}
.card-img .icon-heart{
  font-size: 2em;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}
.card-txt{
  text-align: center;
  padding: 1em 0.9em;
}
.card-txt h3{
  margin-bottom: 0.3em; 
}
.card-footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5em;
  padding: 0.8em 0 1.2em;
}

.card-footer--light{
  background: var(--clr-bg-dark);
  color: var(--clr-txt-dark);
}





#detalle input{
  border: 1px solid;
  margin: 5px;
}