@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

html {
}

h1 {
}

h2 {
	color: var(--clr-txt-light);
}

h3 {
}
p,
a,
label,
input,
button {
}
.brand{
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 0.2em;
}

.icon-heart {
	color: var(--clr-accent-400);
}
