input, select, option, textarea{
  padding: 0.5em;
  border: none;
  background: var(--clr-bg-light);
  color: var(--clr-txt-light);
  resize: none;
  border-radius: 0.3em;
}
textarea{
  min-height: 100px;

}
form.form-contact{
  display: flex;
  flex-flow: column nowrap;
  max-width: 450px;
  margin: 0 auto;
}
form.form-contact label{
  margin-bottom: 0.3em;
}
form.form-contact input,form.form-contact select,form.form-contact textarea {
  margin-bottom: 0.3em;

}

form.form-contact .btn{
  margin-top: 1em;
  padding-top:1em ;
  padding-bottom:0.7em ;

}
